<div class="page">
  <header class="header">
    <div class="container">
      <div class="header__logo">StarWars</div>
    </div>
  </header>

  <div class="content">
    <div class="container">
      <h1>Выберите героя</h1>
      <select [(ngModel)]="selectedPerson" (change)="selectPerson()">
        <option selected hidden></option>
        <option *ngFor="let person of people">{{person.character.name}}</option>
      </select>
    </div>


    <div class="person" *ngIf="selectedPerson">
        <div class="container">

          <div class="person-info">
            <div class="person-info__items">
              <div class="person-info__item">
                <strong>Имя:</strong>
                <span>{{currentPerson.character.name}}</span>
              </div>
              <div class="person-info__item">
                <strong>Рост:</strong>
                <span>{{currentPerson.character.height}}</span>
              </div>
              <div class="person-info__item">
                <strong>Вес:</strong>
                <span>{{currentPerson.character.mass}}</span>
              </div>
              <div class="person-info__item">
                <strong>Дата рождения:</strong>
                <span>{{currentPerson.character.birth_year}}</span>
              </div>
              <div class="person-info__item">
                <strong>Пол:</strong>
                <span>{{currentPerson.character.gender}}</span>
              </div>
              <div class="person-info__item">
                <strong>Цвет глаз:</strong>
                <span>{{currentPerson.character.eye_color}}</span>
              </div>
              <div class="person-info__item">
                <strong>Цвет кожи:</strong>
                <span>{{currentPerson.character.skin_color}}</span>
              </div>
              <div class="person-info__item">
                <strong>Цвет волос:</strong>
                <span>{{currentPerson.character.hair_color}}</span>
              </div>
              <div class="person-info__planet">
                <strong>Информация о планете</strong>
                <div class="person-info__planet-wrap">
                  <p>
                    <strong>Название:</strong>  {{currentPerson.homeworld.name}}
                  </p>
                  <p>
                    <strong>Кол-во населения:</strong> {{currentPerson.homeworld.population}}
                  </p>
                </div>
              </div>
              <div class="person-info__films">
                <strong>Фильмы</strong>
                <div class="person-info__film" *ngFor="let film of currentPerson.films">
                  <p>
                    <strong>Название:</strong> {{film.title}}
                  </p>
                  <p>
                    <strong>Дата выпуска:</strong> {{film.release_date}}
                  </p>
                </div>
              </div>
              <div class="person-info__transport">
                <strong>Транспортные:</strong>
                <div class="person-info__vehicle">
                  <strong>Наземный транспорт:</strong>
                  <div class="person-info__vehicle-item" *ngFor="let vehicle of currentPerson.transport.vehicles">
                    <strong>
                      Модель:
                    </strong>
                    <span>{{vehicle.model}}</span>
                    <strong>
                      Название:
                    </strong>
                    <span>{{vehicle.name}}</span>
                  </div>
                </div>
                <div class="person-info__starship">
                  <strong>Воздушный транспорт:</strong>
                  <div class="person-info__starship-item" *ngFor="let starship of currentPerson.transport.starships">
                    <strong>
                      Модель:
                    </strong>
                    <span>{{starship.model}}</span>
                    <strong>
                      Название:
                    </strong>
                    <span>{{starship.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
